body{
  padding-top:40px;
  font-family: 'UnifrakturMaguntia', cursive;
  font-size:48px;
}

li{
 font-size:32px;
 font-weight: normal;
}
img{
	margin:16px;
}
div{
	font-size:30px;
}

button{
	font-size:20px;	
}

html{
  font-family: 'UnifrakturMaguntia', cursive;
}